
.changepassMain{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
    .changepass {
        text-align: center;
        background-color: #fdf7ff74;
        padding: 10px 10px;
        border-radius: 7px;
        width: 20rem;
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
      
          h5 {
            margin-bottom: 10px;
            color: black;
            
          }
      
          input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white; // Set the background color to white
      
            &:focus {
              outline: none;
              border-color: #007bff; // You can customize the focus color if needed
            }
          }
      
          button {
            padding: 10px;
            background-color: #735CFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
      
}
